body{
  margin:0;
  background:#2b0b14;
  color:#fff;
  font-family:Arial;
  text-align:center;
}
.page{display:none;padding:20px;}
.page.active{display:block;}
input,button{
  padding:10px;
  border-radius:20px;
  border:none;
  margin:5px;
}
button{background:#ff6b81;color:#fff;}
.gif{
  width:150px;
  border-radius:50%;
  margin:10px auto;
}
#huntGrid span{
  font-size:30px;
  margin:10px;
  cursor:pointer;
}
#gameBox{
  width:300px;
  height:220px;
  border:2px dashed pink;
  margin:auto;
  position:relative;
  overflow:hidden;
}
.heart{
  position:absolute;
  font-size:22px;
  animation:fall 3s linear;
}
@keyframes fall{from{top:-30px;}to{top:240px;}}
.bar{width:300px;height:6px;background:#444;margin:10px auto;}
#bar{height:100%;width:0;background:lime;}
.letter{
  background:#fff;
  color:#000;
  padding:20px;
  border-radius:10px;
}
.photos img{
  width:90px;
  margin:5px;
  border-radius:10px;
}
footer{
  opacity:.7;
  font-size:12px;
  margin:20px;
}
