body{
margin:0;
font-family:sans-serif;
background:#220014;
color:white;
text-align:center;
overflow-x:hidden;
}

.page{display:none;min-height:100vh;padding:25px}
.page.active{display:block}

.gif{width:160px;margin:15px auto}

input,button{
padding:12px 20px;
border-radius:25px;
border:none;
margin:10px;
font-size:16px;
}

button{background:#ff5a8a;color:white}

#musicCtrl{
position:fixed;
top:10px;right:10px;
font-size:26px;
cursor:pointer;
}

.grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:15px;
}

.grid div{
font-size:30px;
padding:30px;
background:#fff2;
border-radius:15px;
cursor:pointer;
}

#gameBox{
width:300px;height:300px;
border:2px dashed pink;
margin:15px auto;
position:relative;
overflow:hidden;
}

.heart{
position:absolute;
font-size:22px;
cursor:pointer;
}

#progress{
width:80%;height:10px;
background:#fff3;
margin:10px auto;
}
#progress div{
height:100%;
width:0%;
background:pink;
}

.photos img{
width:30%;
margin:5px;
border-radius:15px;
}

.hidden{display:none}
