body{
  margin:0;
  background:#14040a;
  color:white;
  text-align:center;
  font-family:Arial;
}
.cursive{font-family:'Dancing Script',cursive}
.page{display:none;min-height:100vh;padding:20px}
.page.active{display:block}

.gif{width:170px;border-radius:50%;margin:10px auto}

input,button{
  padding:12px 20px;
  border-radius:25px;
  border:none;
  margin:8px;
  font-size:16px;
}
button{background:#ff4d6d;color:white}

#bgHearts span{
  position:fixed;
  opacity:.3;
  animation:float 6s infinite;
}
@keyframes float{
  50%{transform:translateY(-20px)}
}

.shake{animation:shake .3s}
@keyframes shake{
  25%{transform:translateX(-5px)}
  50%{transform:translateX(5px)}
}

#quizCard{background:#ffffff22;padding:20px;border-radius:20px}

#quizOpt button{display:block;width:100%;margin:6px 0}

#huntGrid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
  max-width:300px;
  margin:auto;
}
.huntCard{
  background:white;color:black;
  padding:20px;
  border-radius:15px;
  font-size:24px;
}

#gameBox{
  width:300px;height:220px;
  border:2px dashed pink;
  margin:auto;
  position:relative;
  overflow:hidden;
}
.heart{position:absolute;animation:fall 3s linear}
@keyframes fall{to{top:240px}}

.bar{width:300px;height:6px;background:#333;margin:10px auto}
#bar{height:100%;width:0;background:lime}

#envelope{
  width:200px;height:120px;
  background:#a0522d;
  margin:20px auto;
  cursor:pointer;
}
#letter{
  background:#fff;color:#000;
  padding:15px;
}
.hidden{display:none}

.photos img{
  width:90px;
  border-radius:10px;
  margin:5px;
}

#musicCtrl{
  position:fixed;
  top:10px;right:10px;
  font-size:24px;
  cursor:pointer;
}

footer{opacity:.7;font-size:12px;padding:10px}
