*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,sans-serif;
}

body{
  background:#2a001c;
  color:#fff;
  text-align:center;
}

.page{
  display:none;
  min-height:100vh;
  padding:30px 15px;
}

.page.active{display:block}

h1,h2{color:#ff77b7;margin:20px 0}

button{
  background:linear-gradient(45deg,#ff5fa2,#ff91c7);
  border:none;
  color:#fff;
  padding:14px 26px;
  border-radius:30px;
  font-size:18px;
  margin:10px;
  cursor:pointer;
}

.img{
  width:150px;
  height:150px;
  border-radius:50%;
  border:4px solid #ff77b7;
  margin:20px auto;
}

/* GAME */
#gameBox{
  width:100%;
  max-width:330px;
  height:280px;
  border:2px dashed #ff77b7;
  border-radius:20px;
  margin:20px auto;
  position:relative;
  overflow:hidden;
}

#barWrap{
  background:#333;
  border-radius:20px;
}

#bar{
  height:10px;
  width:0%;
  background:#ff77b7;
  border-radius:20px;
}

/* YES */
#yesBtn{
  font-size:26px;
  padding:20px 40px;
}

footer{
  position:fixed;
  bottom:10px;
  width:100%;
  font-size:13px;
}
footer a{color:#ff77b7}
